:root {
    --main-white-color: #ffffff;
    --main-text-color: #757575;
    --second-text-color: #212121;
    --accent-color: #2196F3;
}

/*header*/

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000000;
}
.header-logo:focus {
    color: #000000;
}
.logo-part {
    color: var(--accent-color);
}
.header-list {
    list-style: none;
    color: var(--second-text-color);
}
.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--second-text-color);
}
.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}
.header-list-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    list-style: none;
}
.header-contact {
    text-decoration: none;
    color: var(--main-text-color);
}
.header-contact:hover,
.header-contact:focus {
    color: var(--accent-color);
}

/*Footer*/

.footer {
    background-color: #2F303A;
    color: var(--main-white-color);
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: var(--main-white-color);
}

.footer-list {
    list-style: none;
}
.footer-adress {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer-contact {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover,
.footer-contact:focus {
    color: var(--accent-color);
}

/*main index.html*/

.page-index {
    background-color: #ffffff;
    color: var(--main-text-color);
}
.main {
    background-color: #2F303A;
}
.main-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-white-color);
}
.main-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--main-white-color);
}
.button {
    background-color: #2196F3;
    color: #ffffff;
}
.peculiarities {
    color: #ffffff;
}
.peculiarities-list {
    list-style: none;
}
.peculiarities-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.peculiarities-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}
.work-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.section-work-list {
    list-style: none;
}
.team-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.team-list {
    list-style: none;
}
.team-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}
.team-position {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

/*main portfolio.html*/

.page-portfolio {
    background-color: var(--main-white-color);
    color: var(--second-text-color);
}
.portfolio-title {
    color: var(--main-white-color);
}
.portfolio-list {
    list-style: none;
}
.portfolio-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}
.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--accent-color);
    color: var(--main-white-color);
}
.portfolio-project {
    list-style: none;
}
.portfolio-project-type {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.portfolio-project-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--second-text-color);
}